### Import Libraries

In [87]:
import pandas as pd

### Load and explore the data (4 marks)

In [88]:
#read csv file
df = pd.read_csv("product-cat-dataset.csv")
df.head()

                                         Description   Level_1 Level_2 Level_3
0  gerb cap help keep littl on head cov warm day ...  09BF5150   C7E19    D06E
1  newborn inf toddl boy hoody jacket oshkosh b g...  2CEC27F1   ADAD6    98CF
2  tut ballet anym leap foxy fash ruffl tul toddl...  09BF5150   C7E19    D06E
3  newborn inf toddl boy hoody jacket oshkosh b g...  2CEC27F1   ADAD6    98CF
4  easy keep feel warm cozy inf toddl girl hoody ...  2CEC27F1   ADAD6    98CF

### Deal with Missing Data (4 marks)

In [89]:
# Check if data has missing values in the Description column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10649 entries, 0 to 10648
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Description  10637 non-null  object
 1   Level_1      10649 non-null  object
 2   Level_2      10649 non-null  object
 3   Level_3      10649 non-null  object
dtypes: object(4)
memory usage: 332.9+ KB

In [90]:
#check number of class of each lavel
len(df['Level_1'].unique()),len(df['Level_2'].unique()),len(df['Level_3'].unique())

(15, 39, 43)

In [91]:
# Deal with missing values
# drop missing valye
df1 = df.dropna()

In [92]:
#check shape of dataframe after droping
df1.shape

(10637, 4)

### Drop Classes where the number of instances is < 10 (4 marks)

In [93]:
# Apply to Level_1 
df1['Level_1'].value_counts()

B092BA29    900
35E04739    896
AAC8EE56    890
57164AC1    877
2CEC27F1    859
EFEF723B    800
09BF5150    799
69286F45    797
96F95EEC    587
3E1E0D78    579
4C3D8686    574
4513C920    558
014303D1    511
90A8B052    506
D410C91A    504
Name: Level_1, dtype: int64

In [94]:
# Apply to Level_2
df1['Level_2'].value_counts()

2D5A3    797
ACD06    504
C719A    482
9D9EE    462
5A8AB    450
375FE    450
BAE8A    449
B2DB4    449
CB803    448
9B69F    447
74974    446
914A1    443
390F1    441
94728    440
C7E19    429
7B638    420
A04D3    411
ADAD6    410
F4055    363
7AED7    282
02FA0    264
77F62    229
36080    176
223B2    128
E6162    117
5E038    115
E69F5    109
D5531     88
31FED     86
F824F     72
262E7     63
915D4     47
AF6B9     36
6C6B1     36
08960     24
0864A     16
80D5B      6
A6301      1
C66C5      1
Name: Level_2, dtype: int64

In [95]:
# Set Level_2 to be index 
df4 = df1.set_index('Level_2')
# drop class that less than 10
df2 = df4.drop(df1['Level_2'].value_counts().loc[lambda x : x<10].index).reset_index()
df2.shape

(10629, 4)

In [97]:
# Apply to Level_3
df2['Level_3'].value_counts()

28A7    797
33D1    504
A0E2    482
05A0    462
AA6B    450
1F61    450
21DA    449
2ABA    448
627D    448
80C4    447
62E8    446
D97D    443
6856    441
5912    439
D06E    429
0F8B    420
C5B4    411
98CF    410
6539    282
078B    264
5AE1    229
1F75    199
C563    176
7C00    164
F213    128
2E14    117
6BE5    115
DDD5    109
6253     88
7288     72
29B3     63
3DD3     53
A2FA     47
3AAD     36
A104     36
215F     33
1000     24
96B8     16
CF52      1
DE3D      1
Name: Level_3, dtype: int64

In [98]:
df5 = df2.set_index('Level_3')
# drop class that less than 10
df3 = df5.drop(df2['Level_3'].value_counts().loc[lambda x : x<10].index).reset_index()
df3.shape

(10627, 4)

In [99]:
df3.head()

  Level_3 Level_2                                        Description   Level_1
0    D06E   C7E19  gerb cap help keep littl on head cov warm day ...  09BF5150
1    98CF   ADAD6  newborn inf toddl boy hoody jacket oshkosh b g...  2CEC27F1
2    D06E   C7E19  tut ballet anym leap foxy fash ruffl tul toddl...  09BF5150
3    98CF   ADAD6  newborn inf toddl boy hoody jacket oshkosh b g...  2CEC27F1
4    98CF   ADAD6  easy keep feel warm cozy inf toddl girl hoody ...  2CEC27F1

In [100]:
# df3=df2[(df2['Level_3']!='CF52') &(df2['Level_3']!='DE3D')]

In [101]:
df3.shape

(10627, 4)

### Now let's write a Function to Prepare Text (4 marks)
We will apply it to our DataFrame later on

* This function receives a text string and performs the following:
* Convert text to lower case
* Remove punctuation marks
* Apply stemming using the popular Snowball or Porter Stemmer (optional)
* Apply NGram Tokenisation
* Return the tokenised text as a list of strings

In [102]:
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem.snowball import SnowballStemmer
from nltk.stem import PorterStemmer
from nltk.util import ngrams
import string
import re

def process_text_tokenised(text, n = 1):
    """
    Takes in a string of text, then performs the following:
    1. Convert text to lower case and remove all punctuation
    2. Optionally apply stemming
    3. Apply Ngram Tokenisation
    4. Returns the tokenised text as a list
    """
    # write steps here
    #1. Convert text to lower case and remove all punctuation
    text = text.lower()
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    #2. Optionally apply stemming   
    porter = PorterStemmer()
    text = [porter.stem(word) for word in word_tokenize(text)]
    text = ' '.join(text)
    #3. Apply Ngram Tokenisation
    tokenised = [' '.join(x) for x in ngrams(word_tokenize(text), n)]    
    return tokenised

In [103]:
# Here is an example function call
process_text_tokenised("Here we're testing the process_text function, results are as follows:", n = 3)

['here were test',
 'were test the',
 'test the processtext',
 'the processtext function',
 'processtext function result',
 'function result are',
 'result are as',
 'are as follow']

In [104]:
# Results should look like this:
corpus = ['here were test',
 'were test the',
 'test the processtext',
 'the processtext function',
 'processtext function result',
 'function result are',
 'result are as',
 'are as follow']

In [105]:
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem.snowball import SnowballStemmer
from nltk.stem import PorterStemmer
from nltk.util import ngrams
import string
import re

def process_text(text, n = 1):
    """
    Takes in a string of text, then performs the following:
    1. Convert text to lower case and remove all punctuation
    2. Optionally apply stemming
    3. Returns text
    """
    #1. Convert text to lower case and remove all punctuation
    text = text.lower()
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)  
    #2. Optionally apply stemming
    porter = PorterStemmer()
    text = [porter.stem(word) for word in word_tokenize(text)]
    text = ' '.join(text)
    return text

### Now let's apply TF-IDF to extract features from plain text (10 marks)

In [106]:
# Might take a while...
# Here you apply the process_text function to the Description column of the data
# Then you pass the results to the bag of words tranformer
# See here: https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html

# Use function process_text to return text
df3['Description_process'] = df3['Description'].apply(lambda x: process_text(x))
df3.head()

,Level_3,Level_2,Description,Level_1,Description_process
0,D06E,C7E19,gerb cap help keep littl on head cov warm day ...,09BF5150,gerb cap help keep littl on head cov warm day ...
1,98CF,ADAD6,newborn inf toddl boy hoody jacket oshkosh b g...,2CEC27F1,newborn inf toddl boy hoodi jacket oshkosh b g...
2,D06E,C7E19,tut ballet anym leap foxy fash ruffl tul toddl...,09BF5150,tut ballet anym leap foxi fash ruffl tul toddl...
3,98CF,ADAD6,newborn inf toddl boy hoody jacket oshkosh b g...,2CEC27F1,newborn inf toddl boy hoodi jacket oshkosh b g...
4,98CF,ADAD6,easy keep feel warm cozy inf toddl girl hoody ...,2CEC27F1,easi keep feel warm cozi inf toddl girl hoodi ...

In [107]:
# text from function process_text that getting lower case,remove all punctuation and apply stemming
df3['Description_process'][0]

'gerb cap help keep littl on head cov warm day long design coordin gerb layet item gre item gift giv'

In [108]:
#results the bag of words tranformer
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
VectorizerArray = vectorizer.fit_transform(df3['Description_process'])

In [109]:
# feature names of words 
print(vectorizer.get_feature_names()[3000:3050])

['bibl', 'bibleauth', 'bicep', 'bicol', 'bicyc', 'bid', 'big', 'biggerst', 'biggest', 'bik', 'bikin', 'bil', 'bilberri', 'bilet', 'billabong', 'billiard', 'billionair', 'billow', 'billowi', 'bimonth', 'bimport', 'bin', 'bind', 'bindersso', 'bing', 'binocul', 'bio', 'biocurv', 'biodegrad', 'biofilm', 'bioflavonoid', 'biograph', 'biolog', 'biomirac', 'biotin', 'bipl', 'bir', 'birch', 'bird', 'birdi', 'birdsey', 'birth', 'birthday', 'birthston', 'bisabolol', 'biscott', 'biscuit', 'bishop', 'bisphenol', 'bisqu']

In [110]:
VectorizerArray.shape

(10627, 16222)

Now we can use .transform on our Bag-of-Words (bow) transformed object and transform the entire DataFrame of text file contents. Let's go ahead and check out how the bag-of-words counts for the entire corpus in a large, sparse matrix:

In [111]:
# After that you pass the result of the previous step to sklearn's TfidfTransformer
# which will convert them into a feature matrix
# See here: https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfTransformer.html
    
from sklearn.feature_extraction.text import TfidfTransformer
transformer = TfidfTransformer()
text_tfidf = transformer.fit_transform(VectorizerArray)

In [112]:
# The resulting matrix is in sparse format, we can transform it into dense
# Code prepared for you so you can see what results look like
text_tfidf = pd.DataFrame(text_tfidf.toarray())

In [113]:
# This is an example result, the matrix will contain lots of zero values, that is expected
# Some values will be non-zero
text_tfidf.head()

,0,1,2,3,4,5,6,7,8,9,...,16212,16213,16214,16215,16216,16217,16218,16219,16220,16221
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [114]:
text_tfidf.shape

(10627, 16222)

# Now the Data is Ready for Classifier Usage

### Split Data into Train and Test sets (4 marks)

In [116]:
from sklearn.model_selection import train_test_split
#select columns of Level_1,Level_2,Level_3 into y parameter
y = df3[['Level_1','Level_2','Level_3']]
# Train/Test split
X_train, X_test, y_train, y_test = train_test_split(text_tfidf, y, test_size = 0.33, random_state = 42)

In [117]:
 y_train.head()

       Level_1 Level_2 Level_3
230   AAC8EE56   914A1    D97D
1320  69286F45   2D5A3    28A7
41    AAC8EE56   914A1    D97D
3039  57164AC1   7B638    0F8B
777   2CEC27F1   ADAD6    98CF

In [118]:
# You might need to reset index in each dataframe (depends on you how you do things)
# done for you to make it clearer
X_train.reset_index(inplace = True, drop = True)
X_test.reset_index(inplace = True, drop = True)
y_train.reset_index(inplace = True, drop = True)
y_test.reset_index(inplace = True, drop = True)

In [119]:
# You might need to take classes as separate columns (depends on you how you do things)
class1 = y_train['Level_1'].astype(str)
class2 = y_train['Level_2'].astype(str)
class3 = y_train['Level_3'].astype(str)

## Model training for the three levels (8 marks)

In [120]:
# import pickle to save and load model
import pickle
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [121]:
# Create and save model for level 1
model1 = LogisticRegression(solver = 'lbfgs')
model1.fit(X_train, class1)
with open('level1.pk', 'wb') as nb:
    pickle.dump(model1,nb)

In [122]:
## Create and save models for level 2
model2 = LogisticRegression(solver = 'lbfgs')
model2.fit(X_train, class2)
with open('level2.pk', 'wb') as nb:
    pickle.dump(model2,nb)

In [123]:
## Create and save models for level 3
model3 = LogisticRegression(solver = 'lbfgs')
model3.fit(X_train, class3)
with open('level3.pk', 'wb') as nb:
    pickle.dump(model3,nb)

## Predict the test set (8 marks)

In [124]:
# Creating an empty Dataframe with column names only (depends on you how you do things)
results = pd.DataFrame(columns = ['Level1_Pred', 'Level2_Pred', 'Level3_Pred'])

## Here we reload the saved models and use them to predict the levels
# load model for level 1 (done for you)
with open('level1.pk', 'rb') as nb:
    model1 = pickle.load(nb)
with open('level2.pk', 'rb') as nb:
    model2 = pickle.load(nb)
with open('level3.pk', 'rb') as nb:
    model3 = pickle.load(nb)

## loop through the test data, predict level 1, then based on that predict level 2
## and based on level 2 predict level 3 (you need to load saved models accordingly)
Level1_Pred = model1.predict(X_test)
Level2_Pred = model2.predict(X_test)
Level3_Pred = model3.predict(X_test)
results = pd.DataFrame(zip(Level1_Pred,Level2_Pred,Level3_Pred),columns = ['Level1_Pred', 'Level2_Pred', 'Level3_Pred'])
results

     Level1_Pred Level2_Pred Level3_Pred
0       3E1E0D78       9D9EE        05A0
1       09BF5150       375FE        1F61
2       2CEC27F1       BAE8A        2ABA
3       57164AC1       94728        5912
4       57164AC1       94728        5912
...          ...         ...         ...
3502    B092BA29       2D5A3        28A7
3503    014303D1       7AED7        6539
3504    35E04739       B2DB4        21DA
3505    09BF5150       C7E19        D06E
3506    4513C920       31FED        215F

[3507 rows x 3 columns]

In [125]:
## After you add the predictions to the results dataframe
## they should look like this
results

     Level1_Pred Level2_Pred Level3_Pred
0       3E1E0D78       9D9EE        05A0
1       09BF5150       375FE        1F61
2       2CEC27F1       BAE8A        2ABA
3       57164AC1       94728        5912
4       57164AC1       94728        5912
...          ...         ...         ...
3502    B092BA29       2D5A3        28A7
3503    014303D1       7AED7        6539
3504    35E04739       B2DB4        21DA
3505    09BF5150       C7E19        D06E
3506    4513C920       31FED        215F

[3507 rows x 3 columns]

## Compute Accuracy on each level (4 marks)
Now you have the predictions for each level (in the test data), and you also have the actual levels, you can compute the accurcay

In [126]:
ytest_Level1 = y_test['Level_1'].astype(str)
ytest_Level2 = y_test['Level_2'].astype(str)
ytest_Level3 = y_test['Level_3'].astype(str)

In [127]:
# Level 1 accuracy
accuracy_score(ytest_Level1, Level1_Pred)

0.8999144568006844

In [128]:
# Level 2 accuracy
accuracy_score(ytest_Level2, Level2_Pred)

0.8163672654690619

In [129]:
# Level 3 accuracy
accuracy_score(ytest_Level3, Level3_Pred)

0.802965497576276

## Well done!